$fixed-bk: #F0DC82;
$page-bk: #F5DEB3;
$inst-bdr: #3D2B1F;
$inst-ht: 350px;
$inst-wd: 600px;
$peg-size: 36px;

body	{
	background-color: $page-bk;
}

.peg 	{
	display: inline-flex;
	width: $peg-size;
	height: $peg-size;
	border: 4px solid $inst-bdr;
	margin: 0 6px;
}

.guess-peg	{
	background-color: #bbbbbb;
}

.result-peg	{
	width: ($peg-size * 0.4);
	height: ($peg-size * 0.4);
	border: 2px solid $inst-bdr;
	margin: 0 4px;
	display: inline-flex;
}

.black-peg	{
	background-color: #000000;
}

.white-peg	{
	background-color: #ffffff;
}

.fixed-bar	{
	position: fixed;
	left: 0;
	width: 100%;
	padding: 12px;
	background-color: $fixed-bk;
}

#page-header	{
	top: 0;
}

#page-footer	{
	display: none;
	bottom: 0;

	#pending-guess	{
		margin-bottom: 12px;
	}
	#available-colours	{
		display: inline-flex;
	}
	#submit-guess	{
		display: inline-flex;
		position: relative;
		/*right: 12px;*/
		bottom: 6px;
		/*visibility: hidden;*/
	}
}

#previous-guesses	{
	margin: 100px 0 120px;
	overflow: auto;

	.guess-number	{
		width: 48px;
		text-align: center;
		display: inline-flex;

		h3	{
			text-align: center;
			font-weight: bolder;
		}
	}
	.guess-results	{
		display: inline-flex;

		.black-peg-row	{
			display: block;
		}
		.white-peg-row	{
			display: block;
		}
	}
}

#instruc-modal	{
	display: none;
	position: fixed;
	height: $inst-ht;
	width: $inst-wd;
	top: 50%;
	left: 50%;
	margin-top: ($inst-ht/(-2));
	margin-left: ($inst-wd/(-2));
	background-color: $fixed-bk;
	padding: 0 12px;
	border: 2px solid $inst-bdr;

	#instruc-close-button	{
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.button-name	{
		font-weight: bold;
	}
	.emph	{
		font-style: italic;
	}
}