$fixed-bk: #F0DC82;
$page-bk: #F5DEB3;
$inst-bdr: #59260B;
$intro-ht:	620px;
$intro-wd: 640px;
$inst-ht: 420px;
$inst-wd: 600px;
$win-ht: 200px;
$win-wd: 400px;
$peg-size: 36px;

body	{
	background-color: $page-bk;
	background-repeat: none;
	background-size: 120%;
	background-blend-mode: normal;
	/*background-position: right;*/
}

.peg 	{
	display: inline-flex;
	width: $peg-size;
	height: $peg-size;
	border: 4px solid $inst-bdr;
	border-radius: 50%;
	margin: 0 6px;
}

.combo-peg	{
	background-color: #bbbbbb;
}

.result-peg	{
	width: ($peg-size * 0.4);
	height: ($peg-size * 0.4);
	border: 2px solid $inst-bdr;
	border-radius: 50%;
	margin: 0 4px;
	display: inline-flex;
}

.black-peg	{
	background-color: #000000;
}

.white-peg	{
	background-color: #ffffff;
}

.fixed-bar	{
	position: fixed;
	left: 0;
	width: 100%;
	padding: 12px;
	background-color: $fixed-bk;
}

#page-header	{
	top: 0;
}

#page-footer	{
	display: none;
	bottom: 0;

	#current-combo	{
		margin-bottom: 12px;
	}
	#available-colours	{
		display: inline-flex;
	}
	#submit-guess	{
		display: inline-flex;
		position: relative;
		bottom: 6px;
	}
	#submit-code	{
		display: inline-flex;
		position: relative;
		bottom: 6px;
	}
}

#previous-guesses	{
	margin: 100px 0 120px;
	overflow: auto;

	.guess-number	{
		width: 48px;
		text-align: center;
		display: inline-flex;

		h3	{
			text-align: center;
			font-weight: bolder;
		}
	}
	.guess-results	{
		display: inline-flex;

		.black-peg-row	{
			display: block;
		}
		.white-peg-row	{
			display: block;
		}
	}
}

#site-use-modal	{
	display: block;
	height: $intro-ht;
	width: $intro-wd;
	margin-top: ($intro-ht/(-2));
	margin-left: ($intro-wd/(-2));

	#site-use-logo	{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}
	#site-use-title	{
		margin-top: -10px;
	}
}

.modal-window	{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: $fixed-bk;
	padding: 0 12px;
	border: 2px solid $inst-bdr;

	.button-name	{
		font-weight: bold;
	}
	.emph	{
		font-style: italic;
	}
}

#instruc-modal	{
	height: $inst-ht;
	width: $inst-wd;
	margin-top: ($inst-ht/(-2));
	margin-left: ($inst-wd/(-2));
}

#win-game-modal	{
	height: $win-ht;
	width: $win-wd;
	margin-top: ($win-ht/(-2));
	margin-left: ($win-wd/(-2));
}

#solve-code-modal	{
	height: $win-ht;
	width: $win-wd;
	margin-top: ($win-ht/(-2));
	margin-left: ($win-wd/(-2));
}

.close-button 	{
	position: absolute;
	top: 12px;
	right: 12px;
}